/* Common css starts here */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --brand: rgb(0, 40, 86);
  --overlay: rgba(0, 0, 0, 0.6);
  --orange: #FFA500;
  --gray: rgb(70, 8, 8);
  --tint: #f4eff8;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Mrs Saint Delafield', cursive; */

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.color {
  color: var(--orange);
  padding: 0 15px;
}

.header {
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 10000;
}

.container {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
}

/* Home screen css starts here */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background: url('../img/banner.jpeg') no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: var(--overlay);
}

.title {
  font-size: 7rem;
  color: var(--white);
  font-family: 'Allura', cursive;
}

.tag {
  color: var(--white);
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px var(--overlay);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
}

.menu-icon {
  color: var(--white);
  font-size: 36px;
  padding: 15px;
}

.logo {
  width: 100px;
}

.header {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

/* The Overlay (background) */

.overlay {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 100000;
  left: 0;
  top: 0;
  background: var(--brand);
  background-size: cover;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.link {
  padding-right: 20px;
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--white);
  display: block;
  width: 300px;
  margin-left: auto;
  transition: 1.3s;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 10px;
  background: var(--orange);
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 60px;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  margin: 0 20px;
}

.social a {
  font-size: 36px;
  color: var(--white);
  text-shadow: 0 2px 10px var(--black);
  transition: all .9s;
}

.social a:hover {
  color: var(--orange);
  transform: translateY(-10px);
}

/* About Page css  */

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work .content,
.about .content {
  height: 100vh;
  width: 85%;
  background: url('../img/aboutbg.jpg') repeat center;
  overflow: hidden;
}

.bucket .content {
  height: 100vh;
  width: 85%;
  background: url('../img/bucketbg.jpg') repeat center;
  background-size: 200px;
  overflow: hidden;
}

.contact .content {
  height: 100vh;
  width: 85%;
  background: url('../img/contactbg.jpeg') repeat center;
  background-size: 200px;
  overflow: hidden;
}

.tagline {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.innerpage .menu-icon {
  color: var(--black);
}

.sidebar {
  height: 100vh;
  width: 15%;
  background-color: var(--brand);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  height: 100vh;
  width: 85%;
  background: url('../img/about-bg.jpg') repeat center;
  overflow: hidden;
}

.page-title {
  padding: 10px 30px;
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  text-transform: capitalize;
  text-align: center;
}

.page-content {
  font-size: 24px;
  margin: 50px 0;
  font-family: 'Times New Roman', serif;
  padding: 10px 50px;
  color: var(--gray);
  background-color: rgba(255, 255, 255, 0.9);
}

.page-content h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
}

.sign {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 36px;
  font-weight: bold;
  color: var(--brand);
  text-align: left;
}

.line {
  width: 10px;
  height: 5px;
  background-color: var(--orange);
  animation: example 45s linear infinite;
}

/* bucketlist css */

.left {
  transform: rotate(4deg);
}

.right {
  transform: rotate(-4deg);
}

.content li {
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px var(--black);
  margin: 15px 5px;
  transition: all .2s ease-in-out;
  font-family: 'Lato', sans-serif;
  background: var(--brand);
  text-transform: capitalize;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 2px;
  list-style-type: disc;
}

.content li:hover {
  background: tomato;
  transform: rotate(0deg);
}

.bucketlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content .done {
  background-color: #21af8c;
}

/* Work css */

.owl-carousel {
  margin: 20px 0;
}

.owl-carousel .owl-item img {
  height: 200px;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 30px;
}

.owl-prev,
.owl-next {
  color: var(--brand) !important;
  outline: none;
  font-size: 36px;
  font-weight: bold;
}

/* Animation css */

.text-img {
  font-family: 'Abril Fatface', cursive;
  font-size: 36px;
  background: url("https://media.giphy.com/media/TLLvsTMRYgBlS/giphy.gif") center;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box {
  margin: 40px 0;
}

.box-a {
  width: 50px;
  height: 50px;
  border: 10px solid orange;
  animation: rotate 15s linear infinite;
}

.box-b {
  width: 50px;
  height: 50px;
  border: 10px solid red;
  animation: rotates 15s linear infinite;
}

.box-c {
  width: 50px;
  height: 50px;
  border: 10px solid white;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes example {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* form css */

form {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

input {
  border: 0;
  font-size: 24px;
  border-bottom: 2px solid var(--orange);
  margin: 20px 0;
  color: var(--brand);
  width: 80%;
}

.btn {
  border: 0;
  padding: 10px 40px;
  background: var(--brand);
  color: var(--white);
  width: 300px;
}

input:focus {
  outline: none;
  border-bottom: 3px solid var(--brand);
}

/* MediaQuery css */

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 4rem;
  }
  .innerpage .menu-icon {
    color: var(--white);
  }
  .social {
    margin-top: 150px;
  }
  .link {
    font-size: 24px;
    text-align: left;
  }
  .link::after {
    height: 4px;
  }
  .sidebar {
    display: none;
  }
  .innerpage .content {
    width: 100%;
    height: 100%;
  }
  .innerpage .header {
    background-color: var(--brand);
  }
  .page-content {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  .page-title {
    margin-top: 100px;
    font-size: 52px;
  }
  .tagline {
    font-size: 30px;
    text-align: center;
  }
  input {
    width: 100%;
    font-size: 20px;
  }
  .btn {
    width: 100%;
  }
  .owl-nav {
    justify-content: center;
    font-size: 18px;
  }
  .owl-prev,
  .owl-next {
    margin:  20px;

  }
}